

<h1>Válasszon dátumot</h1>
<div>
<input type="date" id="keresTol"></input>
<input type="date" id="keresIg"></input>
<button id="kereses" onclick="kereses()" class ="btn default">Keresés</button>
</div>
<label id="eredmeny" class="btn success">Siker</label>
<div>
<button id="mentes" class ="btn default" onclick="showMentes()">Mentés</button>
<button id="torles" class ="btn default" onclick="showTorles()">Törlés</button>
<button id="modositas" class ="btn default" onclick="showModositas()">Módosítás</button><br>
</div>
<div id="mentesDiv" hidden>
Jelszó:<input type="password" id="passMentes"></input>
<button id="mentesMentes" class="btn default" onclick="mentesMentes()">Mentés</button>
</div>
<div id="torlesDiv" hidden>
Jelszó:<input type="password" id="passTorles"></input>
<button id="torlesMentes" class="btn default" onclick="torlesMentes()">Mentés</button>
</div>
<div id="modositasDiv" hidden>
<input type="date" id="modositasTol"></input>
<input type="date" id="modositasIg"></input><br>
Jelszó:<input type="password" id="passModositas"></input>
<button id="modositasMentes" class="btn default" onclick="modositasMentes()">Mentés</button>
</div>
