// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<style>
.btn {
  border: none; /* Remove borders */
  padding: 14px 28px; /* Add some padding */
  margin: 20px 20px 20px 20px;
}

.success {background-color: #4CAF50; color: white} /* Green */

.info {background-color: #2196F3; color: white} /* Blue */

.warning {background-color: #ff9800; color: white} /* Orange */

.danger {background-color: #f44336; color: white} /* Red */

.default {background-color: #e7e7e7; cursor: pointer;} /* Gray */
.default:hover {background: #ddd;}
</style>
